@use '@styles/variables' as vars;

.reset-password-page {
  margin: 0 auto;
  max-width: 1320px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__content {
    max-width: 500px;
  }
  &__text {
    margin-top: 1.5em;
    font-size: 18px;
    color: vars.$color-black;
    font-weight: 300;
    line-height: 120%;
  }
  &__title-box {
    margin-bottom: 2em;
  }
}