@use "@styles/variables" as vars;

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  margin-bottom: 24px;
  width: 100%;
  font-size: 15px;
  line-height: 100%;
  color: vars.$color-black;
  align-items: center;

  & > a {
    margin-bottom: 6px;
  }

  &__wrapper {
    margin-left: 48px;
    display: flex;
    gap: 8px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: all 300ms ease-in-out;

    svg path {
      fill: vars.$color-black;
    }

    &:hover {
      border: 1px solid vars.$color-black;
    }

    &--active {
      color: vars.$primary-color;
      background-color: vars.$color-primary-pastel;

      svg path {
        fill: vars.$primary-color;
      }

      &:hover {
        border: 1px solid transparent;
      }
    }
  }

  &__actions {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-left: auto;
  }

  &__btn {
    width: fit-content;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 14px 16px;
    color: vars.$color-gray;
    border: 1px solid vars.$color-gray-border;
    background-color: white;
    transition: all 300ms ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: vars.$color-primary-pastel;
      border-color: vars.$primary-color;
      color: vars.$primary-color;
    }

    &:active {
      background-color: white;
      border-color: vars.$color-black;
      color: vars.$color-black;
    }
  }
}
