@use "@styles/variables" as vars;

.list {
  &__order {
    display: block;
    flex-direction: column;
    align-items: start;
    margin-top: 32px;
    width: 100%;
  }

  &__placeholder {
    cursor: pointer;
    display: flex;
    margin-top: 32px;
    padding: 8px 32px;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    gap: 32px;
    background-color: vars.$color-white;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='19' ry='19' stroke='%23E3E5FAFF' stroke-width='4' stroke-dasharray='6%2c 20' stroke-dashoffset='8' stroke-linecap='round'/%3e%3c/svg%3e");
    border-radius: 19px;
    transition: background-color 0.6s ease, transform 0.6s ease;

    &:hover {
      background-color: vars.$color-primary-pastel;
      color: vars.$primary-color;
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='19' ry='19' stroke='%2300C3DF' stroke-width='4' stroke-dasharray='6%2c 20' stroke-dashoffset='8' stroke-linecap='round'/%3e%3c/svg%3e");
    }

    &--empty {
      margin-bottom: 64px;
      padding: 24px 32px;
      gap: 8px;
      margin-top: 0;
      height: 17px;
      justify-content: center;
      color: vars.$color-gray;
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      letter-spacing: 0;

    }
  }

  &__description {
    font-weight: 400;
    font-size: 26px;
    line-height: 150%;
    letter-spacing: 0;
    vertical-align: middle;

    &--bold {
      font-weight: 600;
    }
  }

  &__btn {
    margin-top: 8px;
    border-radius: 12px;
    padding: 16px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    display: flex;
    gap: 8px;
    font-weight: 500;
    line-height: 1;
    font-size: 14px;
    width: fit-content;
    height: fit-content;

    &--primary {
      width: fit-content;
      height: fit-content;
      font-size: 18px;
      gap: 12px;
      line-height: 1.2;
      letter-spacing: 0;
      padding: 16px 24px;
    }
  }
}