@use "@styles/variables" as vars;

.days {
  margin-top: 40px;

  &__content {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom: 32px;
  }

  &__btn {
		margin-top: 0;
		width: 100%;
		border-radius: 12px;
		background-color: vars.$color-black;
		padding: 16px;
		text-align: center;
		color: white;
		font-size: 16px;
		line-height: 120%;
		cursor: pointer;
		transition: all 0.3s ease-in-out;
		outline: none;
		border: none;
		display: flex;
		gap: 12px;
		justify-content: center;
		align-items: center;

		&:hover {
			background-color: vars.$color-black-hover;
		}

		&:active {
			background-color: vars.$color-black;
		}

		&:disabled {
			opacity: 0.5;
			background-color: vars.$color-black;
		}
  }
}