@use '@styles/variables' as vars;

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
  line-height: 100%;
  color: vars.$color-gray;
  align-items: center;

  &__logo {
    display: block;
    width: 117px;
    height: 24px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
  }

  &__link {
    display: block;
    padding: 14px 16px;
    border-radius: 8px;
  }
}