@use "@styles/variables" as vars;

.action-btn {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid transparent;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out, border 300ms ease-in-out;

  &--disabled {
	cursor: not-allowed;
	opacity: 0.5;
	pointer-events: none;
  }

  &__icon {
	width: 100%;
	height: 100%;
	color: vars.$color-gray;
	transition: color 300ms ease-in-out;
  }

  &:hover {
	border: 1px solid vars.$color-black;

	.action-btn__icon {
	  color: vars.$color-black;
	}
  }

  &--wb {
	border: 1px solid vars.$color-gray-border;
  }

  &--active {
	background-color: vars.$primary-color;
	border: none;
  }
}

.icon {
  &--edit {
	width: 12px;
	height: 12px;
  }

  &--add {
	width: 12px;
	height: 12px;
  }

  &--close {
	width: 8.925px;
	height: 8.925px;
  }

  &--delete {
	width: 11px;
	height: 12px;

	svg path {
	  fill: vars.$color-gray;
	}
  }

  &--play {
	margin-left: 1px;
	width: 12px;
	height: 12px;

	svg path {
	  fill: vars.$color-gray;
	}
  }

  &--navigate {
	width: 6px;
	height: 10px;

	svg path {
	  fill: vars.$color-gray;
	}
  }
}
