@use '@styles/variables' as vars;

.reset-password-page {
  margin: 0 auto;
  max-width: 1320px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}