@use "@styles/variables" as vars;

.navbar {
  margin-top: 50px;
  display: flex;
  gap: 8px;
  align-items: center;

  &__item {
	cursor: pointer;
	padding: 12px;
	border-radius: 8px;
	border: 1px solid vars.$color-gray-border;
	font-size: 13px;
	line-height: 100%;
	color: vars.$color-gray;
	background-color: transparent;
	text-wrap: nowrap;
	transition: all 300ms ease-in-out;

	&:hover, &--active {
	  border-color: vars.$color-black;
	  color: vars.$color-black;
	}
  }
}