@use "@styles/variables" as vars;

.profileHeader {
  position: relative;
}

.backgroundImage {
  width: 1320px;
  height: 250px;
  border-radius: 16px;
}

.icon {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: vars.$color-gray-light;
  color: vars.$color-gray;
  border-radius: 50%;
  cursor: pointer;
  transition: all 300ms ease-in-out;

  &:hover {
    color: vars.$color-black;
    background-color: vars.$color-gray-border;
  }
}
