.tools {
  margin-top: 64px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__heading {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  &__buttons {
    display: flex;
    gap: 4px;
    align-items: center;
  }

  &__content {
    gap: 8px;
    margin-top: 24px;
    overflow: hidden;
    display: flex;
  }

  &__inner {
    display: flex;
    align-items: center;
    gap: 8px;
    transition: transform 0.3s ease-in-out;
    width: max-content;
  }
}

