@use "@styles/variables" as vars;

.tracker {
  position: sticky;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 12px;
  box-shadow: 0 40px 116px -8px rgba(13, 16, 51, 0.20);
  background-color: white;

  &__progress {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: vars.$color-primary-pastel;
    border-radius: 8px;
    padding: 16px;

    & > span {
      color: vars.$color-gray;
      font-size: 14px;
      line-height: 120%;
    }
  }

  &__line {
    background-color: white;
    width: 209px;
    height: 7px;
    padding: 0 2px;
    display: flex;
    align-items: center;
    border-radius: 100px;

    span {
      height: 3px;
      background-color: vars.$primary-color;
      border-radius: 100px;
    }
  }

  &__categories {
    padding: 8px 16px 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__category {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 8px;
  }
}