.service {
  margin-top: 64px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__content {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}