@use '@styles/variables' as vars;

.form {
  display: flex;
  flex-direction: column;
  max-width: 500px;

  &__wrapper {
    display: flex;
    align-self: center;
  }

  &__link {
    font-size: 14px;
    line-height: 100%;
    color: vars.$color-gray;
    text-decoration: underline;
    text-align: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  &__text {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 18px;
    color: vars.$color-black;
    font-weight: 300;
    line-height: 120%;
  }

  &__btn {
    margin-top: 8px;
    width: 100%;
    border-radius: 12px;
    background-color: vars.$color-black;
    padding: 16px;
    text-align: center;
    color: white;
    font-size: 16px;
    line-height: 120%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    outline: none;
    border: none;

    &:hover {
      background-color: vars.$color-black-hover;
    }

    &:active {
      background-color: vars.$color-black;
    }

    &:disabled {
      opacity: 0.5;
      background-color: vars.$color-black;
    }
  }
}