@use '@styles/variables' as vars;

.reset-password-form {
  display: flex;
  gap: 20px;
  flex-direction: column;

  &__wrapper {
    display: flex;
    align-self: center;
  }

  &__link {
    font-size: 14px;
    line-height: 100%;
    color: vars.$color-gray;
    text-decoration: underline;
    text-align: center;
  }
}