@use '@styles/variables' as vars;

.form {
  display: flex;
  flex-direction: column;

  &__wrapper {
    display: flex;
    align-self: center;
  }

  &__link {
    font-size: 14px;
    line-height: 100%;
    color: vars.$color-gray;
    text-decoration: underline;
    text-align: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__text {
    margin-top: 1em;
    margin-bottom: 1.5em;
    font-size: 18px;
    color: vars.$color-black;
    font-weight: 300;
    line-height: 120%;
  }
}