@use "@styles/variables" as vars;

.profileCard {
    margin-left: 24px;
    color: #2b2b2b;
}

.name {
    font-size: 26px;
    font-weight: 600;
    line-height: 100%;
    color: #000000;
    margin-bottom: 8px;
}
.infoContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.role {
    font-size: 15px;
    font-weight: 500;
    color: vars.$color-gray;
    line-height: 100%;
}

.ratings {
    display: flex;
    align-items: center;
    gap: 12px;
}

.ratingText{
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 100%;
    font-weight: 500;
    gap: 4px;
    color: vars.$color-black;
}

.points {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 5px;
}

.starIcon {
    width: 12px;
    height: 11.62px;
    color: vars.$color-warning
}
.dealmeIcon {
    width: 11.91px;
    height: 12px;
    color: vars.$color-black;
}

.badges {
    display: flex;
    gap: 10px;
    margin-bottom: 24px;
}

.badgeIcon{
    width: 10px;
    height: 10px;
}

.badgeRecommendedIconWithText {
    background-color: vars.$color-primary-pastel;
    display: flex;
    align-items: center;
    gap: 4px;
    color: vars.$primary-color;
    font-size: 12px;
    padding: 8px;
    border-radius: 8px;
}

.badgeLimitedIconWithText {
    background-color: vars.$color-danger-pastel;
    display: flex;
    align-items: center;
    gap: 4px;
    color: vars.$color-danger;
    font-size: 12px;
    padding: 8px;
    border-radius: 8px;
}

.details {
    border: 1px solid vars.$color-gray-border;
    border-bottom: none;
    border-radius: 8px;
    margin-bottom: 15px;
}

.detail {
    display: flex;
    align-items: center;
    color: vars.$color-gray;
    gap: 10px;
    font-size: 15px;
    padding: 16px;
    border-bottom: 1px solid vars.$color-gray-border;
}

.infoFooter{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 24px;
}
.footer {
    font-size: 10px;
    font-weight: 500;
    line-height: 120%;
    color: vars.$color-gray;
    letter-spacing: 1px;
}
.sectors {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    font-size: 12px;
    font-weight: 500;
    color: vars.$color-gray;
}

.sectors span {
    background-color: vars.$color-gray-light;
    border-radius: 8px;
    padding: 8px;
}
