@use './variables' as vars;

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &--primary {
	border: none;
	background-color: vars.$color-black;
	color: vars.$color-white;

	svg path {
	 fill: vars.$color-white;
	}

	&:hover,
	&:focus,
	&:active {
	  outline: none !important;
	  background-color: vars.$color-black-hover;
	}

	&:disabled {
	  opacity: 0.5;
	  cursor: auto;
	  background-color: vars.$color-black;
	}
   }

  &--primary-branded {
	border: none;
	background-color: vars.$primary-color;
	color: vars.$color-white;

	svg path {
	  fill: vars.$color-white;
	}

	&:hover,
	&:focus,
	&:active {
	  outline: none !important;
	  background-color: vars.$primary-hover;
	}

	&:disabled {
	  opacity: 0.5;
	  cursor: auto;
	  background-color: vars.$primary-color;
	}
  }

  &--secondary {
	background-color: transparent;
	border: 1px solid vars.$color-black;
	color: vars.$color-black;

	svg path {
		fill: vars.$color-black;
	}

	&:hover,
	&:focus,
	&:active {
		outline: none !important;
		background-color: vars.$color-black;
		color: vars.$color-white;

		svg path {
			fill: vars.$color-white;
		}
	}

	&:disabled {
		opacity: 0.5;
		cursor: auto;
		background-color: transparent;
		border: 1px solid vars.$color-black;
		color: vars.$color-black;

		svg path {
			fill: vars.$color-black;
		}
	}
  }

  &--tertiary {
	  border: 1px solid vars.$color-gray-border;
	  background-color: transparent;
	  color: vars.$color-gray;

	  svg path {
		  fill: vars.$color-gray;
	  }

	  &:hover,
	  &:focus,
	  &:active {
		  outline: none !important;
		  color: vars.$color-black;
		  background-color: transparent;
		  border-color: vars.$color-black;

		  svg path {
			  fill: vars.$color-black;
		  }
	  }

	  &:disabled {
		  opacity: 0.5;
		  border-color: vars.$color-gray-border;
		  color: vars.$color-gray;
		  cursor: auto;

		  svg path {
			  fill: vars.$color-gray;
		  }
	  }
  }

  &--tertiary-alternative {
	  background-color: vars.$color-white;
	  border: 1px solid vars.$color-gray-border;
	  color: vars.$color-black;

	  svg path {
		  fill: vars.$color-black;
	  }

	  &:hover,
	  &:focus,
	  &:active {
		  outline: none !important;
		  border-color: vars.$color-black;
	  }

	  &:disabled {
		  opacity: 0.5;
		  border-color: vars.$color-gray-border;
		  color: vars.$color-black;
		  cursor: auto;

		  svg path {
			  fill: vars.$color-black;
		  }
	  }
  }

  &--circle {
	  background-color: transparent;
	  width: 32px;
	  height: 32px;
	  border: none;
	  border-radius: 16px;

	  svg path {
		  fill: vars.$color-gray;
	  }

	  &:hover,
	  &:focus {
		  outline: none !important;
		  border-color: vars.$color-black;

		  svg path {
			  fill: vars.$color-black;
		  }
	  }

	  &:disabled {
		  cursor: not-allowed;
		  opacity: 0.5;
		  pointer-events: none;
	  }
  }

  &--squared-circle {
	  background-color: vars.$color-white;
	  width: 32px;
	  height: 32px;
	  border: none;
	  border-radius: 8px;

	  path {
		  fill: vars.$color-gray;
	  }

	  &:hover,
	  &:focus {
		  outline: none !important;
		  background-color: vars.$color-primary-pastel;
		  border: 1px solid vars.$primary-color;
		  path {
			  fill: vars.$primary-color;
		  }
	  }

	  &:active {
		  color: vars.$color-black;
		  border: 1px solid vars.$color-black;
	  }

	  &:disabled {
		  border: 1px solid vars.$color-gray-border;
		  opacity: 0.3;
		  color: vars.$color-gray;
		  background-color: white;
	  }
  }
}