@use './variables' as vars;

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  width: fit-content;
  border-radius: 12px;
  //background-color: vars.$color-black;
  padding: 16px;
  text-align: center;
  //color: white;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  outline: none;
  border: none;

  //&:hover {
	//background-color: vars.$color-black-hover;
  //}
  //
  //&:active {
	//background-color: vars.$color-black;
  //}
  //
  //&:disabled {
	//opacity: 0.5;
	//background-color: vars.$color-black;
  //}

  &--primary {
	background-color: vars.$color-black;
	color: vars.$color-white;

	svg path {
	 fill: vars.$color-white;
	}

	  &:hover,
	  &:active {
		background-color: vars.$color-black-hover;
	  }

	  &:disabled {
		opacity: 0.5;
		background-color: vars.$color-black;
	  }
   }

  &--primary-branded {
	background-color: vars.$primary-color;
	color: vars.$color-white;

	svg path {
	  fill: vars.$color-white;
	}

	&:hover,
	&:active {
	  background-color: vars.$primary-hover;
	}

	&:disabled {
	  opacity: 0.5;
	  background-color: vars.$primary-color;
	}
  }

  &--secondary {
	background-color: vars.$color-white;
	border: 1px solid vars.$color-black;
	color: vars.$color-black;

	svg path {
		fill: vars.$color-black;
	}

	&:hover,
	&:active {
		background-color: vars.$color-black;
		color: vars.$color-white;

		svg path {
			fill: vars.$color-white;
		}
	}

	&:disabled {
		opacity: 0.5;
		background-color: vars.$color-white;
		border: 1px solid vars.$color-black;
		color: vars.$color-black;

		svg path {
			fill: vars.$color-black;
		}
	}
  }

  &--tertiary {
	  border: 1px solid vars.$color-gray-border;
	  color: vars.$color-gray;

	  svg path {
		  fill: vars.$color-gray;
	  }

	  &:hover,
	  &:active {
		  color: vars.$color-black;
		  background-color: vars.$color-white;
		  border-color: vars.$color-black;

		  svg path {
			  fill: vars.$color-black;
		  }
	  }

	  &:disabled {
		  opacity: 0.5;
		  border-color: vars.$color-gray-border;
		  color: vars.$color-gray;

		  svg path {
			  fill: vars.$color-gray;
		  }
	  }
  }

  &--tertiary-alternative {
	  background-color: vars.$color-white;
	  border: 1px solid vars.$color-gray-border;
	  color: vars.$color-black;

	  svg path {
		  fill: vars.$color-black;
	  }

	  &:hover,
	  &:active {
		  border-color: vars.$color-black;
	  }

	  &:disabled {
		  opacity: 0.5;
		  border-color: vars.$color-gray-border;
		  color: vars.$color-black;

		  svg path {
			  fill: vars.$color-black;
		  }
	  }
  }

  &--tab {
	  background-color: vars.$color-white;
	  border: 1px solid vars.$color-gray-border;
	  color: vars.$color-gray;

	  svg path {
		  fill: vars.$color-gray;
	  }

	  &:hover,
	  &:active {
		  background-color: vars.$color-primary-pastel;
		  color: vars.$primary-color;
		  border-color: vars.$primary-color;

		  svg path {
			  fill: vars.$primary-color;
		  }
	  }

	  &:active {
		  background-color: vars.$color-white;
		  border: 1px solid vars.$color-black;
		  color: vars.$color-black;

		  svg path {
			  fill: vars.$color-black;
		  }
	  }

	  &:disabled {
		  opacity: 0.5;
		  background-color: vars.$color-white;
		  border: 1px solid vars.$color-gray-border;
		  color: vars.$color-gray;

		  svg path {
			  fill: vars.$color-gray;
		  }
	  }
  }

  &--circle {
	  width: 32px;
	  height: 32px;
	  border-radius: 16px;
	  border-width: 1px;
	  padding: 11.54px;
  }

  &--squared-circle {
	  width: 32px;
	  height: 32px;
	  border-radius: 8px;
	  border-width: 1px;
	  padding: 14px 16px;
  }

  &--large {
	  gap: 8px;
	  border-radius: 12px;
	  padding: 16px;
	  border-width: 1px;
	  font-weight: 500;
	  font-size: 16px;
	  line-height: 120%;
	  letter-spacing: 0;

	  svg {
		  width: 14px;
		  height: 12.833333969116211px;
	  }
  }

  &--medium {
	  gap: 8px;
	  border-radius: 8px;
	  padding: 16px 14px;
	  font-weight: 500;
	  font-size: 14px;
	  line-height: 100%;
	  text-align: center;
	  horiz-align: center;

	  svg {
		  width: 12px;
		  height: 11px;
	  }
  }

  &--small {
	  width: 116px;
	  height: 32px;
	  gap: 8px;
	  border-radius: 8px;
	  border-width: 1px;
	  padding: 0 12px;
	  font-weight: 500;
	  font-size: 13px;
	  line-height: 100%;

	  svg {
		  width: 10px;
		  height: 9px;
	  }
  }

  &--mw134 {
	max-width: 134px;
  }

  &--mt0 {
	margin-top: 0;
  }

  &--w100 {
	  width: 100%;
  }

  &--back {
	width: 32px;
	height: 32px;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	background-color: #ffffff;
	margin-top: 0;
	border: 1px solid vars.$color-gray-border;

	&:hover {
	  background-color: vars.$color-gray-hover;
	}
  }

  &--more {
	border: 1px solid vars.$color-gray-border;
	background-color: #ffffff;
	padding: 14px 16px;
	color: vars.$color-gray;
	font-size: 14px;
	line-height: 100%;

	&:hover {
	  background-color: vars.$color-gray-hover;
	}
  }

  &--withIcon {
	display: flex;
	gap: 12px;
	justify-content: center;
	align-items: center;

	svg {
	  width: 12px;
	  height: 12px;
	}
  }

  &--uploader {
	margin-top: 0;
	border-radius: 8px;
	border-color: vars.$color-black;
	color: vars.$color-black;
	width: fit-content;
  }

  &--modal {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0;
	gap: 8px;
	color: vars.$color-gray;
	border: 1px solid vars.$color-gray-border;
	background-color: transparent;
	padding: 14px 16px;
	font-size: 14px;
	line-height: 100%;

	&:hover {
	  background-color: vars.$color-gray-hover;
	}

	svg {
	  width: 12px;
	  height: 12px;
	}
  }
}