@use './variables' as vars;

.btn {
  margin-top: 8px;
  width: 100%;
  border-radius: 12px;
  background-color: vars.$color-black;
  padding: 16px;
  text-align: center;
  color: white;
  font-size: 16px;
  line-height: 120%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  outline: none;
  border: none;

  &:hover {
    background-color: vars.$color-black-hover;
  }

  &--mw134 {
    max-width: 134px;
  }

  &--mt0 {
    margin-top: 0;
  }

  &--back {
    width: 32px;
    height: 32px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #ffffff;
    margin-top: 0;
    border: 1px solid vars.$color-gray-border;

    &:hover {
      background-color: vars.$color-gray-hover;
    }
  }

  &--more {
    border: 1px solid vars.$color-gray-border;
    background-color: #ffffff;
    margin-top: 8px;
    padding: 14px 16px;
    color: vars.$color-gray;
    font-size: 14px;
    line-height: 100%;

    &:hover {
      background-color: vars.$color-gray-hover;
    }
  }

  &--flex {
    background-color: transparent;
    width: fit-content;
    margin-top: 0;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

    &:hover {
      border: 1px solid vars.$color-black;
      color: vars.$color-black;
    }
  }

  &--user {
    position: relative;
    padding: 14px 16px 14px 38px;
    color: vars.$color-gray;
    background-color: vars.$color-gray-light;
    border: 1px solid vars.$color-gray-light;
  }
}