@use './variables' as vars;

.title {
  font-size: 50px;
  line-height: 100%;
  font-weight: 700;
  color: vars.$color-black;

  &--lh120 {
    line-height: 120%;
    text-align: center;
  }

  &--fs40 {
    font-size: 40px;
    font-weight: 600;
    line-height: 120%;
  }

  &--modal-fs32 {
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 40px;
  }
  &--fs20 {
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    color: vars.$color-black;
  }
}