$primary-color: #00C3DF;
$color-primary-pastel: #EBFAFC;
$color-black: #0D1033;
$color-black-hover: #323667;
$color-gray: #75778A;
$color-gray-border: #E3E5FA;
$color-gray-light: #F0F1F7;
$color-gray-hover: #F1F1F1;
$color-danger: #DF003B;
$color-success: #00C483;
$color-success-pastel: #E6FAF3;
$color-white: #FFFFFF;
