@use '../../styles/variables' as vars;

.app {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;

  &__bg {
    top: -85px;
    left: 120px;
    position: absolute;
    width: 264px;
    height: 264px;
    background: vars.$primary-color;
    filter: blur(300px);
    border-radius: 100%;
    z-index: -1;
  }

  &__icon {
    position: fixed;
    width: 881px;
    height: 886px;
    right: -40px;
    bottom: -40px;
    z-index: -1;
    pointer-events: none;

    img {
      width: 100%;
      height: 100%;
    }
  }
}