@use "@styles/variables" as vars;

.service {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  &__head {
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
  }

  &__icon {
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition: all 300ms ease-in-out;
    color: vars.$color-gray;


    &:hover {
      color: vars.$primary-color;
      background-color: vars.$color-primary-pastel;
      border: 1px solid vars.$primary-color;
    }

    &:active {
      color: vars.$color-black;
      border: 1px solid vars.$color-black;
    }
  }

  &__subtitle {
    background-color: vars.$color-gray-light;
    padding: 9px 12px;
    color: vars.$color-gray;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
  }

  &__title {
    margin-top: 16px;
    color: vars.$color-black;
    font-weight: 600;
    font-size: 40px;
    max-width: 800px;
  }

}