@use "@styles/variables" as vars;

.portfolio {
  margin-top: 64px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__wrapper {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__content {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__items {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  &__empty {
    height: 270px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 2px dashed vars.$color-gray-border;
    background-color: white;

    svg path {
      fill: vars.$color-gray;
    }
  }
}