@use "../../../../../styles/variables" as vars;

.searchbar {
  display: flex;
  padding: 16px;
  gap: 12px;
  border-radius: 12px;
  border: 1px solid vars.$color-gray-border;
  margin-bottom: 24px;
  background-color: #FFF;

  img {
    opacity: 0.7;
  }

  &:focus-within {
    border: 1px solid vars.$color-black;
  }

  input {
    outline: none;
    opacity: 0.7;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    color: vars.$color-black;

    &::placeholder {
      color: vars.$color-gray;
    }
  }
}