@use "../../../styles/variables" as vars;

.onboarding-step {
  width: 1098px;
  display: flex;
  justify-content: space-between;

  &__content {
    width: 600px;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 8px;
    color: vars.$color-gray;
    font-size: 14px;
    line-height: 120%;

    &-wrapper {
      display: flex;
      gap: 16px;
      align-items: center;
      margin-bottom: 16px;
    }
  }

  &__items {
    margin-bottom: 32px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__circle {
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 90px;
    background-color: vars.$color-gray;
  }

  &__add-text {
    color: vars.$color-gray;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    margin-bottom: 8px;
  }
}