@use "@styles/variables" as vars;

.uploader {
  padding: 16px;
  background: rgba(240, 241, 247, 0.40);
  border: 1px dashed vars.$color-gray-border;
  border-radius: 12px;
  color: vars.$color-black;

  &--error {
    background-color: vars.$color-danger-pastel ;
    border-color: vars.$color-danger;
  }

  &--drag {
    background-color: vars.$color-primary-pastel ;
    border-color: vars.$primary-color;

    .uploader__content {
      min-height: 221.797px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: vars.$primary-color;

      svg path {
        fill: vars.$primary-color;
      }
    }
  }

  &__content {
    background-color: white;
    padding: 24px 42.5px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__prompt {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    margin-top: 24px;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    font-weight: 400;
  }

  &__info {
    display: flex;
    align-items: flex-start;
    gap: 4px;
    color: vars.$color-gray;
    font-size: 14px;
    line-height: 130%;
    font-weight: 400;
  }

  &__icon {
    margin-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__choice {
    align-items: center;
    margin-top: 15px;
    display: flex;
    gap: 16px;
  }

  &__btn {
    border-radius: 8px;
    width: fit-content;
    padding: 14px 16px;
    font-size: 14px;
    line-height: 100%;
  }
}
