@use '../../styles/variables' as vars;

.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  width: 100%;
  font-size: 14px;
  line-height: 100%;
  color: vars.$color-gray;

  &__logo {
    display: block;
    width: 117px;
    height: 24px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
  }

  &__link {
    display: block;
    padding: 14px 16px;
    border-radius: 8px;
    text-align: center;
    border: 1px solid vars.$color-gray-border;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    &:hover {
      background-color: vars.$color-gray-hover;
    }
  }

}