@use "@styles/variables" as vars;

.selector {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  gap: 24px;

  &__item {
	border-radius: 12px;
	background-color: white;
	padding: 32px;
	border: 1px solid vars.$color-gray-border;
  }

  &__subtitle {
	margin-bottom: 8px;

	&--bold {
	  font-weight: 700;
	}

	span {
	  color: vars.$color-black;
	  font-size: 22px;
	  line-height: 120%;
	}
  }

  &__text {
	display: block;
	width: 473px;
	min-height: 42px;
	color: vars.$color-gray;
	font-size: 16px;
	font-weight: 400;
	line-height: 130%;
	margin-bottom: 24px;
  }

  &__btn {
	padding: 14px 16px;
	gap: 8px;
	border-radius: 12px;
  }
}