@use "@styles/variables" as vars;

.panel {
  display: flex;
  padding: 48px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid vars.$color-gray-border;
  background: vars.$color-white;

  &__section-title {
    color: vars.$color-black;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
  }

  &__section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }

  &__section-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }

  &__section-name {
    color: vars.$color-gray;
    font-family: Outfit;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
  }

  &__level {
    display: flex;
    padding-bottom: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    border-bottom: 1px solid vars.$color-gray-border;
  }

  &__section-text {
    color: vars.$color-black;
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
  }

  &__separator {
    margin-top: 24px;
    border: 1px solid vars.$color-gray-border;
  }

  &__order {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }

  &__list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }

  &__product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }
}