.profile {
    position: relative;
    min-height: 100vh;

    &__aside {
        position: absolute;
        left: 24px;
        top: 204px;
        z-index: 1;
    }

    &__content {
        margin-left: 422px;
        max-width: 878px;
    }
}

