@use "@styles/variables" as vars;

.manager {
  display: flex;
  justify-content: space-between;

  &__header {
	display: flex;
	gap: 8px;
	align-items: center;
  }

  &__back {
	background-color: white;
	border-radius: 8px;
	border: none;
  }

  &__subtitle {
	color: vars.$color-gray;
	font-size: 14px;
	line-height: 120%;
  }

  &__circle {
	border-radius: 100%;
	width: 3px;
	height: 3px;
	background-color: vars.$color-gray;
  }

  &__title {
	margin-top: 16px;
	color: vars.$color-black;
	font-weight: 600;
	font-size: 40px;
	line-height: 120%;
	max-width: 600px;
  }
}