.education {
  margin-top: 64px;

  &__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
  }

  &__buttons {
	display: flex;
	gap: 4px;
	align-items: center;
  }

  &__content {
	margin-top: 24px;
	display: flex;
	flex-direction: column;
	gap: 32px;
  }
}