@use "@styles/variables" as vars;

.asideProfile {
    &__profileCard {
        margin-left: 24px;
        color: #2b2b2b;
    }

    &__name {
        font-size: 26px;
        font-weight: 600;
        line-height: 100%;
        color: #000000;
        margin-bottom: 8px;
    }
    &__primaryInfoWrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__role {
        font-size: 15px;
        font-weight: 500;
        color: vars.$color-gray;
        line-height: 100%;
    }
    &__ratingsWrapper {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    &__ratingText {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 100%;
        font-weight: 500;
        gap: 4px;
        color: vars.$color-black;
    }

    &__points {
        font-size: 0.9rem;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    &__starIcon {
        width: 12px;
        height: 11.62px;
        color: vars.$color-warning;
    }

    &__dealmeIcon {
        width: 11.91px;
        height: 12px;
        color: vars.$color-black;
    }

    &__items {
        display: flex;
        gap: 10px;
        margin-bottom: 24px;
        width: 330px;
    }

    &__icon {
        width: 10px;
        height: 10px;
    }

    &__item {
        background-color: vars.$color-primary-pastel;
        display: flex;
        align-items: center;
        gap: 4px;
        color: vars.$primary-color;
        font-size: 12px;
        padding: 8px;
        border-radius: 8px;

        &--limited{
            color: vars.$color-danger;
        }
    }

}