@use "@styles/variables" as vars;

.item {
  display: flex;
  margin-bottom: 16px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: vars.$color-white;
  padding: 24px;
  border: 1px solid vars.$color-gray-border;
  border-radius: 12px;

  &__name {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0;
    vertical-align: middle;
    color: vars.$color-black;
    margin-bottom: 6px;
  }

  &__dot {
    width: 3px;
    height: 3px;
    border: 1px solid vars.$color-gray;
    background-color: vars.$color-gray;
    border-radius: 50%;
    margin-right: 7px;
    margin-left: 8px;
  }

  &__description {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
    color: vars.$color-gray;
  }

  &__icons {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  &__action {
    width: 33px;
    height: 33px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid vars.$color-gray-border;
    border-radius: 50%;
  }
}