@use "@styles/variables" as vars;

.statistics {
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
    }

    &__header {
        display: flex;
        flex-direction: column;
        gap: 9px;
    }
    &__title {
        font-size: 20px;
        font-weight: 600;
        line-height: 100%;
        color: vars.$color-black;
    }
    &__subTitle {
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 500;
        line-height: 100%;
        color: vars.$color-gray;
        gap: 4px;
    }
    &__headerIcon {
        width: 12px;
        height: 9.18px;
        color: vars.$color-gray;
    }
    button {
        display: flex;
        align-items: center;
        padding: 14px;
        font-size: 14px;
        line-height: 100%;
        gap: 8px;
        border-radius: 8px;
        border: 1px solid vars.$color-gray-border;
        background: none;
        color: vars.$color-gray;
        cursor: pointer;
        transition: all 300ms ease-in-out;

        &:hover {
          color: vars.$color-black;
          border-color: vars.$color-black;
          background-color: transparent;
        }
    }

    &__cardContainer {
        display: flex;
        justify-content: space-between;
        gap: 16px;
    }
}
