@use "@styles/variables" as vars;

.navbar {
  margin-top: 50px;
  display: flex;
  gap: 8px;
  align-items: center;
  width: 874px;
  max-width: 100%;
  flex-direction: row;

  &__list{
	  width: 800px;
	  overflow: hidden ;
	  mask-image: linear-gradient(
									  to right,
									  rgba(0, 0, 0, 1) 85%,
									  rgba(0, 0, 0, 0.4) 90%,
									  rgba(0, 0, 0, 0) 100%
	  );
  }

  &__inner {
	  display: flex;
	  gap: 8px;
	  transition: transform 0.3s ease-in-out;
	  width: max-content;
  }

  &__btn {
	  display: inline-flex;
	  justify-content: center;
	  align-items: center;
	  width: 100%;
	  height: 100%;
	  position: relative;
	  min-height: 50px;
  }

  &__item {
	padding: 12px;
	border-radius: 8px;
	font-size: 13px;
	line-height: 100%;
	text-wrap: nowrap;
  }
}