@use '../../styles/variables' as vars;

.error {
  color: vars.$color-danger;
  font-size: 14px;
  line-height: 100%;
  font-weight: 400;
  display: flex;
  gap: 4px;
  margin-top: 8px;

  img {
    display: block;
    width: 14px;
    height: 14px;
  }
}