@use "@styles/variables" as vars;

.modal {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  &__head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px
  }

  &__tab {
    width: 252px;
    height: 48px;
    gap: 8px;
    padding-bottom: Radius/ML;
    justify-content: flex-start;
    align-items: start;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0;
    border-bottom: 1px solid vars.$color-gray-border;
    color: vars.$color-gray;

    &--active {
      border-bottom: 1px solid vars.$primary-color;
      color: vars.$color-black;
    }
  }

  &__tab-info {
      display: flex;
      align-items: center;
      gap: 8px;

      svg path {
        fill: vars.$color-gray;
      }
  }

  &__btn {
    margin-top: 150px;
  }
}