@use "@styles/variables" as vars;

.empty-state {
    &__wrapper {
        background-color: vars.$color-white;
        border-radius: 16px;
        border: 1px dashed vars.$color-gray-border;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 1320px;
        height: 250px;
    }

    &__text {
        font-size: 15px;
        line-height: 130%;
        font-weight: 500;
        color: vars.$color-gray;
    }

    &__icon {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: vars.$color-white;
        color: vars.$color-gray;
        border-radius: 50%;
        cursor: pointer;
        transition: all 300ms ease-in-out;

        &:hover {
            color: vars.$color-black;
            background-color: vars.$color-gray-border;
        }
    }

    &__images {
        display: flex;
        gap: 20px;
    }
    &__image {
        width: 64px;
        height: 64px;
        background-size: cover;
        background-position: center;
        border-radius: 20px;
        overflow: hidden;
    }
}
