@use "@styles/variables" as vars;

.company {
  margin-top: 40px;

  &__content {
	width: 600px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-bottom: 32px;
  }

  &__btn {
	width: 100%;
	padding: 16px;
	font-size: 16px;
	line-height: 120%;
  }
}