@use '@styles/variables' as vars;

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;

  &__logo {
    margin-top: 48px;
  }

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 40px;
  }

  &__btn {
    background-color: vars.$color-black;
    padding: 16px;
    width: 198px;
    height: 51px;
    gap: 12px;
    border-radius: 12px;
    text-align: center;
    color: white;
    font-size: 16px;
    line-height: 120%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    outline: none;
    border: none;

    &:hover {
      background-color: vars.$color-black-hover;
    }

    &:active {
      background-color: vars.$color-black;
    }

    &:disabled {
      opacity: 0.5;
      background-color: vars.$color-black;
    }
  }

  &__title {
    width: 500px;
    height: 100px;
    font-family: Outfit;
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    color: vars.$color-black;
  }

  &__info {
    font-family: Outfit;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0;
    text-align: center;
    width: 500px;
    height: 46px;
    color: vars.$color-black;
  }
}